In [2]:
import pandas as pd
import matplotlib.pyplot as plt 
import yfinance as yf

In [16]:
aapl = yf.Ticker('AAPL')

days = 50
hist = aapl.history(period=f'{days}d')

hist_msft = yf.Ticker('MSFT').history(period=f'{days}d')
hist.index
hist.index = hist.index.strftime('%d %B %Y')

In [17]:
hist = hist[['Close']]
hist.columns = ['apple']
hist.head()

hist = hist.T
hist

hist.index.name = 'Name'
hist

Date,13 January 2025,14 January 2025,15 January 2025,16 January 2025,17 January 2025,21 January 2025,22 January 2025,23 January 2025,24 January 2025,27 January 2025,...,12 March 2025,13 March 2025,14 March 2025,17 March 2025,18 March 2025,19 March 2025,20 March 2025,21 March 2025,24 March 2025,25 March 2025
Name,,,,,,,,,,,,,,,,,,,,,
apple,234.142563,233.023788,237.608749,228.009308,229.727417,222.395477,223.584167,223.414368,222.535324,229.607544,...,216.979996,209.679993,213.490005,214.0,212.690002,215.240005,214.100006,218.270004,220.729996,223.75

In [35]:
def get_data(days, tickers):
        
    df = pd.DataFrame()
    for company in tickers.keys():

        tkr = yf.Ticker(tickers[company])
        hist = tkr.history(period=f'{days}d')
        hist.index = hist.index.strftime('%d %B %Y')
        hist = hist[['Close']]
        hist.columns = [company]
        hist = hist.T
        hist.index.name = 'Name'
        df = pd.concat([df, hist])

    return df

In [36]:
days = 20

tickers = {
    'apple': 'AAPL',
    'meta': 'META',
    'google': 'GOOGL',
    'microsoft': 'MSFT',
    'netflix': 'NFLX',
    'amazon': 'AMZN'
}

get_data(days, tickers)

Date,26 February 2025,27 February 2025,28 February 2025,03 March 2025,04 March 2025,05 March 2025,06 March 2025,07 March 2025,10 March 2025,11 March 2025,12 March 2025,13 March 2025,14 March 2025,17 March 2025,18 March 2025,19 March 2025,20 March 2025,21 March 2025,24 March 2025,25 March 2025
Name,,,,,,,,,,,,,,,,,,,,
apple,240.360001,237.300003,241.839996,238.029999,235.929993,235.740005,235.330002,239.070007,227.479996,220.839996,216.979996,209.679993,213.490005,214.000000,212.690002,215.240005,214.100006,218.270004,220.729996,223.750000
meta,673.101196,657.654907,667.606079,654.467712,639.431091,655.886475,627.371826,625.103821,597.458435,605.171631,619.009277,590.114990,607.599976,604.900024,582.359985,584.059998,586.000000,596.250000,618.849976,626.309998
google,172.531296,168.306168,170.084106,166.817871,170.723373,172.820969,172.151733,173.660004,165.869995,164.039993,167.110001,162.759995,165.490005,164.289993,160.669998,163.889999,162.800003,163.990005,167.679993,170.559998
microsoft,399.730011,392.529999,396.989990,388.489990,388.609985,401.019989,396.890015,393.309998,380.160004,380.450012,383.269989,378.769989,388.559998,388.700012,383.519989,387.820007,386.839996,391.260010,393.079987,395.160004
netflix,990.059998,963.070007,980.559998,973.700012,972.580017,990.919983,906.359985,891.109985,866.679993,895.099976,919.679993,890.169983,918.000000,950.020020,929.979980,959.489990,950.840027,960.289978,971.989990,997.280029
amazon,214.350006,208.740005,212.279999,205.020004,203.800003,208.360001,200.699997,199.250000,194.539993,196.589996,198.889999,193.889999,197.949997,195.740005,192.820007,195.539993,194.949997,196.210007,203.259995,205.710007

In [37]:
pip install altair

Collecting altair
  Downloading altair-5.5.0-py3-none-any.whl.metadata (11 kB)
Requirement already satisfied: jinja2 in ./myenv/lib/python3.12/site-packages (from altair) (3.1.6)
Requirement already satisfied: jsonschema>=3.0 in ./myenv/lib/python3.12/site-packages (from altair) (4.23.0)
Collecting narwhals>=1.14.2 (from altair)
  Downloading narwhals-1.32.0-py3-none-any.whl.metadata (9.2 kB)
Requirement already satisfied: packaging in ./myenv/lib/python3.12/site-packages (from altair) (24.2)
Requirement already satisfied: typing-extensions>=4.10.0 in ./myenv/lib/python3.12/site-packages (from altair) (4.13.0)
Requirement already satisfied: attrs>=22.2.0 in ./myenv/lib/python3.12/site-packages (from jsonschema>=3.0->altair) (25.3.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in ./myenv/lib/python3.12/site-packages (from jsonschema>=3.0->altair) (2024.10.1)
Requirement already satisfied: referencing>=0.28.4 in ./myenv/lib/python3.12/site-packages (from jsonschema>=3.0->altair) (0.36.2)
Requirement already satisfied: rpds-py>=0.7.1 in ./myenv/lib/python3.12/site-packages (from jsonschema>=3.0->altair) (0.23.1)
Requirement already satisfied: MarkupSafe>=2.0 in ./myenv/lib/python3.12/site-packages (from jinja2->altair) (3.0.2)
Downloading altair-5.5.0-py3-none-any.whl (731 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 731.2/731.2 kB 7.0 MB/s eta 0:00:00a 0:00:01
Downloading narwhals-1.32.0-py3-none-any.whl (320 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 320.1/320.1 kB 6.5 MB/s eta 0:00:00:00:01
Installing collected packages: narwhals, altair
Successfully installed altair-5.5.0 narwhals-1.32.0
Note: you may need to restart the kernel to use updated packages.

In [39]:
import altair as alt

In [67]:
companies = ['apple', 'meta']
data = df.loc[companies]
data

Date,26 February 2025,27 February 2025,28 February 2025,03 March 2025,04 March 2025,05 March 2025,06 March 2025,07 March 2025,10 March 2025,11 March 2025,12 March 2025,13 March 2025,14 March 2025,17 March 2025,18 March 2025,19 March 2025,20 March 2025,21 March 2025,24 March 2025,25 March 2025
Name,,,,,,,,,,,,,,,,,,,,
apple,240.360001,237.300003,241.839996,238.029999,235.929993,235.740005,235.330002,239.070007,227.479996,220.839996,216.979996,209.679993,213.490005,214.000000,212.690002,215.240005,214.100006,218.270004,220.729996,223.750000
meta,673.101196,657.654907,667.606079,654.467712,639.431091,655.886475,627.371826,625.103821,597.458435,605.171631,619.009277,590.114990,607.599976,604.900024,582.359985,584.059998,586.000000,596.250000,618.849976,626.309998

In [68]:

data = data.T.reset_index()
data.head()

Name              Date       apple        meta
0     26 February 2025  240.360001  673.101196
1     27 February 2025  237.300003  657.654907
2     28 February 2025  241.839996  667.606079
3        03 March 2025  238.029999  654.467712
4        04 March 2025  235.929993  639.431091

In [69]:
data = pd.melt(data, id_vars=['Date']).rename(
    columns={'value': 'Stock Prices(USD)'}
)
data

                Date   Name  Stock Prices(USD)
0   26 February 2025  apple         240.360001
1   27 February 2025  apple         237.300003
2   28 February 2025  apple         241.839996
3      03 March 2025  apple         238.029999
4      04 March 2025  apple         235.929993
5      05 March 2025  apple         235.740005
6      06 March 2025  apple         235.330002
7      07 March 2025  apple         239.070007
8      10 March 2025  apple         227.479996
9      11 March 2025  apple         220.839996
10     12 March 2025  apple         216.979996
11     13 March 2025  apple         209.679993
12     14 March 2025  apple         213.490005
13     17 March 2025  apple         214.000000
14     18 March 2025  apple         212.690002
15     19 March 2025  apple         215.240005
16     20 March 2025  apple         214.100006
17     21 March 2025  apple         218.270004
18     24 March 2025  apple         220.729996
19     25 March 2025  apple         223.750000
20  26 February 2025   meta         673.101196
21  27 February 2025   meta         657.654907
22  28 February 2025   meta         667.606079
23     03 March 2025   meta         654.467712
24     04 March 2025   meta         639.431091
25     05 March 2025   meta         655.886475
26     06 March 2025   meta         627.371826
27     07 March 2025   meta         625.103821
28     10 March 2025   meta         597.458435
29     11 March 2025   meta         605.171631
30     12 March 2025   meta         619.009277
31     13 March 2025   meta         590.114990
32     14 March 2025   meta         607.599976
33     17 March 2025   meta         604.900024
34     18 March 2025   meta         582.359985
35     19 March 2025   meta         584.059998
36     20 March 2025   meta         586.000000
37     21 March 2025   meta         596.250000
38     24 March 2025   meta         618.849976
39     25 March 2025   meta         626.309998

In [76]:
ymin, ymax = 0, 1000

chart = (
    alt.Chart(data)
    .mark_line(opacity=0.8, clip=True)
    .encode(
        x="Date:T",
        y=alt.Y("Stock Prices(USD):Q", stack=None, scale=alt.Scale(domain=[ymin, ymax])),
        color="Name:N"
    )
)

chart

alt.Chart(...)